<div class="w3-container">
    <div class="w3-yellow w3-center w3-round-xxlarge">    
        <h2>Employee Register</h2>
    </div>    
    <form ng-submit="criteria()" >
        <div class="w3-container w3-border w3row w3-margin-bottom w3-round">
            <div class=" w3-margin-bottom">
                <p>
                    <input type="checkbox" class="w3-check" ng-model="marialstatus"> Marital Status
                </p>
                <select ng-model="maritalCrit" id="" class="w3-select w3-border w3-round-xxlarge" ng-show="marialstatus">
                    <option value="" disabled selected>Select Departement</option>
                    <option value="">Single</option>
                    <option value="">Married</option>
                </select>
            </div>
            <div class=" w3-margin-bottom">
                <p>
                    <input type="checkbox" class="w3-check" ng-model="Departement"> Departement
                </p>
                <select ng-model="departCrit" id="" class="w3-select w3-border w3-round-xxlarge" ng-show="Departement">
                    <option value="" disabled selected>Select Service</option>
                    <option value="">payment</option>
                    <option value="">compability</option>
                </select>
            </div>
            <div class=" w3-margin-bottom">
                <p>
                    <input type="checkbox" class="w3-check" ng-model="Services"> Services
                </p>
                <select ng-model="servCrit" id="" class="w3-select w3-border w3-round-xxlarge" ng-show="Services">
                    <option value="" disabled selected>Select Service</option>
                    <option value="">payment</option>
                    <option value="">compability</option>
                </select>
            </div>
            <div class=" w3-margin-bottom">
                <p>
                    <input type="checkbox" class="w3-check" ng-model="nbrChild">Nbr child(ren)
                </p>
                <input type="text" ng-model="childCrit" class="w3-input w3-border w3-round-xxlarge" ng-show="nbrChild">
            </div>
            <div class="w3-container w3-margin left ">
                <button type="submit" class="w3-button w3-blue"><i class="fa fa-search-plus"></i>  Search</button>
            </div>
        </div>
    </form>
    <div class="w3-center">
        <table class="w3-table w3-striped w3-bordered w3-hoverable w3-center w3-card-4">
            <tr class="w3-teal">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Sexe</th>
                <th>email</th>
                <th>telephone</th>
                <th></th>
                <th></th>
            </tr>       
            <tr ng-repeat="std in employees">
                <td>{{std.Fname}}</td>
                <td>{{std.Lname}}</td>
                <td>{{std.sexe}}</td>
                <td>{{std.email}}</td>
                <td>{{std.phone}}</td>
                <td style="width: 80px;"><a href="#!detailEmployee/{{std.idemployee}}" class="w3-btn" ><i class="w3-xlarge w3-text-green fa fa-pencil"></i></a></td>
                <td style="width: 80px;"><i class="w3-xlarge w3-text-red fa fa-user-times"></i></td>
            </tr>
        </table>
    </div>
</div>