<div class="w3-modal" ng-class="{'w3-show':confirm==true}" >
    <div class="w3-modal-content w3-card">
        <form action="" ng-submit="confirmOp()">
            <header class="w3-orange w3-center w3-xxlarge">Confirm</header>
            <input type="hidden" ng-model="idvalue" value="{{idvalue}}">
            <input type="hidden" ng-model="operation" value="{{operation}}">
            <p class="w3-padding">{{msg}}</p>
            <div class="w3-container w3-gray w3-center w3-padding">
                <button type="reset" class="w3-btn w3-blue" ng-click="confirm=false" style="width: 30%;">Non</button>
                <button type="submit" class="w3-btn w3-red" ng-click="confirm=false" style="width: 30%;">Yes</button>
            </div>
        </form>
    </div>
</div>